.bottomBarContent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.bottomBarInner {
    max-width: 600px;
    width: 100%;
    margin: auto;
    border-radius: 8px !important;
    overflow: hidden;
    height: 76px; 
}
.actionButton {
    padding: 0;
    min-width: 60px!important;
    min-height: auto;
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    font-size: 10px!important;
    text-wrap: nowrap;
}
.actionButtonIcon {
    width: 100%;
    max-width: 50px;
    padding: 0px 12px;
    padding-top: 1px;
    border-radius: 25px;
}
.actionButtonIcon.activeIcon {
    background: #556dd631;
}
